# Android
*.apk
*.ap_
*.dex
*.class
**/build/
.gradle/
local.properties
.DS_Store
*.iml
.idea/
*.log
*.keystore

# Kotlin
*.kotlin_module
.metadata
bin/
gen/
out/

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar

# Android Studio
.idea/
*.iml
*.iws
*.ipr
captures/
.navigation/

# 其他
*.log
*.swp
*.bak